@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

:root {
  /* Font Weights */
  --weight-heavy: 800;
  --weight-medium: 600;
  --weight-light: 300;
}

/* Contains variable for light-theme */
.light-theme {
  /* Colors */
  --bg-surface: hsl(0, 0%, 98%);
  --bg-elements: hsl(0, 0%, 100%);

  --shadow-color: rgba(0, 0, 0, .4);
  --shadow-focus-color: rgba(0, 0, 0, .6);

  --txt-main: hsl(200, 15%, 8%);
  --txt-placeholder: hsl(0, 0%, 52%);
}

/* Contains variable for dark theme */
.dark-theme {
  /* Colors */
  --bg-surface: hsl(207, 26%, 17%);
  --bg-elements: hsl(209, 23%, 22%);

  --shadow-color: rgba(0, 0, 0, .9);

  --txt-main: hsl(0, 0%, 100%);
  --txt-placeholder: hsl(0, 0%, 100%);
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Nunito Sans", sans-serif;
  color: var(--txt-main);
  padding: 0;
  margin: 0;
}

.app {
  background-color: var(--bg-surface);
  min-height: 100vh;
}

/* CountriesDashboard COMPONENT */
.dashboard {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
}

/* CountryFilters COMPONENT */
.filters-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filter-element {
  background-color: var(--bg-elements);
  padding: 1rem;
  border-radius: .5rem;
  box-shadow: 0 1rem 2rem -1.3rem var(--shadow-color);
}

.search-bar {
  width: 450px;

  display: flex;
  align-items: center;
  column-gap: 1rem;
}

.search-bar > input {
  color: var(--txt-main);
  border: none;
  outline: none;
  order: 2;
  flex-grow: 1;
}

.search-bar > input::placeholder {
  color: var(--txt-placeholder);
}

.search-bar > input:focus + .btn-icon > svg{
  fill: var(--txt-main);
}

.btn-icon {
  cursor: pointer;
  order: 1;
  line-height: 0;
  padding: 0;
  background: none;
  border: none;
  outline: none;
}

.btn-icon > svg {
  height: 1em;
  width: auto;
  fill: var(--txt-placeholder);
}

.btn-icon:hover > svg {
  fill: var(--txt-main);
}

.btn-icon:active > svg {
  transform: scale(.9);
}

.region-select {
  width: 200px;
  border: none;
  outline: none;
}

option:disabled {
  display: none;
}

/* CountriesList COMPONENT */
.countries-list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 300px);
  grid-auto-rows: max-content;
  justify-content: space-between;
  align-items: stretch;
  row-gap: 3rem;
}

/* CountryCard COMPONENT */
.country-card {
  background-color: var(--bg-elements);
  border-radius: .5rem;
  overflow: hidden;
  box-shadow: 0 1rem 3rem -1.5rem var(--shadow-color);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.country-thumbnail {
  line-height: 0;
}

.country-thumbnail > img {
  width: 100%;
}

.country-info {
  padding: 1rem 2rem;
}

.country-name {
  font-size: 1.3em;
  font-weight: var(--weight-heavy);
  color: var(--txt-main) !important;
  text-decoration: none;
  margin: 0;
}

.country-name:hover {
  text-decoration: underline;
}

/* CountryAttribute COMPONENT */
.country-attribute > span {
  font-weight: var(--weight-medium);
}

/* CountryDetails COMPONENT */
.country-details {
  width: 90%;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.country-flag {
  width: 40%;
  line-height: 0;
}

.country-flag > img {
  width: 100%;
}

.country-details .country-info {
  width: 55%;
  padding: 0;
}

.country-details .country-name {
  font-size: 2em;
  text-decoration: none !important;
}

.country-attributes {
  width: 100%;
  margin: 1rem 0;

  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.country-attributes > .first, .country-attributes > .second {
  width: 50%;
}

/* CountryNeighborsList COMPONENT */
.country-neighbors {
  width: 100%;

  display: flex;
  align-items: center;
}

.country-neighbors > span {
  font-weight: var(--weight-medium);
}

.country-neighbors > ul {
  list-style: none;
  padding: 0;
  margin: 0 1rem;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem
}

.country-neighbors li {
  display: block;
  padding: .2rem 1rem;
  background-color: var(--bg-elements);
  box-shadow: 0 0 .1rem  var(--shadow-color);
}
